<%= form_for(@present) do |f| %>
  <% @recipients.each do |recipient| %>
    <%= recipient.first_name %>
  <% end %>

  <% @recipients.each do |recipient| %>
    <div>
      <%= check_box_tag "post[recipient_ids][]", recipient.id %>
      <%= recipient.first_name %>
    </div>
  <% end %>

  <div class="field">
    <%= fields_for @recipient do |fp| %>
      <%=fp.label :recipient %><br>
      <%=fp.text_field :recipient %>
    <% end %>
  </div>



  <div class="field">
    <%= f.label :present %><br>
    <%= f.text_field :present %>
  </div>
  <div class="field">
    <%= f.label :cost %><br>
    <%= f.text_field :cost %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
