<p id="notice"><%= notice %></p>

<p>
  <strong>Create:</strong>
  <%= @basket.create %>
</p>

<p>
  <strong>Destroy:</strong>
  <%= @basket.destroy %>
</p>

<%= link_to 'Edit', edit_basket_path(@basket) %> |
<%= link_to 'Back', baskets_path %>
