<%= link_to 'New Present', new_present_path %>

<h1><%= @recipient.full_name %></h1>
<ul>
	<% @presents.each do |present| %>
	  <% if @recipient.id == present.recipient_id %>
	    <li><%= present.name %></li><br />
	  <% end %>
	<% end %>
</ul>

<p><%= @recipient.email %></p>

<p><%= @recipient.snail_mail %></p>

<%= link_to 'Edit', edit_recipient_path(@recipient) %> |
<%= link_to 'Back', recipients_path %>
